useDynLib(rqhmm, rqhmm_transition_exists, rqhmm_emission_exists, rqhmm_create_hmm, rqhmm_forward, rqhmm_backward, rqhmm_viterbi, rqhmm_get_transition_params, rqhmm_set_transition_params, rqhmm_get_emission_params, rqhmm_set_emission_params, rqhmm_set_initial_probs, rqhmm_set_transition_covars, rqhmm_set_emission_covars, rqhmm_get_initial_probs, rqhmm_posterior, rqhmm_em, rqhmm_get_transition_option, rqhmm_set_transition_option, rqhmm_get_emission_option, rqhmm_set_emission_option)
export(new.qhmm)
export(forward.qhmm)
export(backward.qhmm)
export(viterbi.qhmm)
export(get.transition.params.qhmm)
export(set.transition.params.qhmm)
export(get.emission.params.qhmm)
export(set.emission.params.qhmm)
export(get.initial.probs.qhmm)
export(set.initial.probs.qhmm)
export(set.transition.covars.qhmm)
export(set.emission.covars.qhmm)
export(get.transition.option.qhmm)
export(set.transition.option.qhmm)
export(get.emission.option.qhmm)
export(set.emission.option.qhmm)
export(posterior.qhmm)
export(em.qhmm)
export(emission.test.qhmm)
